**/*.swp
tmp/*
__pycache__
*/__pycache__/*
*.swp
*.swo
*.py[cod]
.Python
build/
sdist/
wheels/
*.egg-info/
.install
.ipynb_checkpoints
dist/*
**/.serverless/*
**/.requirements.zip
**/node_modules/**
_mysql.cpython-*
lookup3.cpython*
_mysql_exceptions.py
easy_install.py
**/unzip_requirements.py
venv/*
.cache/*
