name: action-flask-ci
on: push

jobs:
  build:
    name: Hello world action
    runs-on: ubuntu-latest    
    steps:
    - uses: actions/checkout@master
#    - uses: ./action-a
#      env:
#        MY_NAME: "Mona"
    - uses: actions/docker/login@master
      env:
        DOCKER_USERNAME: ${{ secrets.DOCKER_USER }}
        DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
        DOCKER_REGISTRY_URL: docker.pkg.github.com

    - uses: actions/docker/cli@master
      with:
        args: build -t docker.pkg.github.com/hongkunyoo/action-flask:${{ github.sha }} .

    - uses: actions/docker/cli@master
      with:
        args: push docker.pkg.github.com/hongkunyoo/action-flask:${{ github.sha }}

#    - uses: azure/container-actions/docker-login@master
#      with:
#        login-server: docker.pkg.github.com
#        username: ${{ secrets.DOCKER_USER }}
#        password: ${{ secrets.DOCKER_PASSWORD }}
    
#    - run: |
#        echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
#        docker build . -t hongkunyoo/flask:${{ github.sha }}
#        docker push hongkunyoo/flask:${{ github.sha }}
#      env:
#        DOCKER_REGISTRY_URL: docker.pkg.github.com
#        DOCKER_USERNAME: ${{ secrets.DOCKER_USER }}
#        DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
#    - uses: apex/actions/slack@master
#      env:
#        SLACK_WEBHOOK_URL: https://hooks.slack.com/services/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
